@using CafeProject.MobileWebApplication.Models
@using System.ComponentModel.DataAnnotations
@model User
@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Styles/layout.css")" />
}
@using (Html.BeginForm())
{ 
    @Html.ValidationSummary(true)
    <div class="box shadow">
        <form method="post">
            @Html.AntiForgeryToken()
            @*<div class="er_message">
                @ViewBag.Message
            </div>*@
            <ul id="menu" class="list">
                <li style="padding: 5px;">Регистрация :</li>
                <li>
                    <table>
                        <tr>
                            <td id="leftcol" style="background-color: #7bdb7f;">Фамилия :</td>
                            <td id="rightcol" style="background-color: #4978e3;">
                                @Html.TextBoxFor(Model => Model.Surname,
                                new { placeholder = "Ваша фамилия", size = "25", maxlength = "50"})
                                @Html.ValidationMessageFor(Model => Model.Surname)
                            </td>
                        </tr>
                        <tr>
                            <td id="leftcol" style="background-color: #8ae6b4;">Имя :</td>
                            <td id="rightcol" style="background-color: #6d8bef;">
                                @Html.TextBoxFor(Model => Model.Name,
                                new { placeholder = "Ваше имя", size = "25", maxlength = "50" })
                                @Html.ValidationMessageFor(model => model.Name)
                            </td>
                        </tr>
                        <tr>
                            <td id="leftcol" style="background-color: #9fe6d9;">Логин :</td>
                            <td id="rightcol" style="background-color: #9ab7ef;">
                                @Html.TextBoxFor(Model => Model.Login,
                                new { placeholder = "Ваш логин", size = "25", maxlength = "50" })
                                @Html.ValidationMessageFor(Model => Model.Login)
                            </td>
                        </tr>
                        <tr>
                            <td id="leftcol" style="background-color: #9fe6d9;">E-mail :</td>
                            <td id="rightcol" style="background-color: #9ab7ef;">
                                @Html.TextBoxFor(Model => Model.Email,
                                new { placeholder = "Ваш email", size = "25", maxlength = "50" })
                            </td>
                        </tr>
                        <tr>
                            <td id="leftcol" style="background-color: #bfeb2b;">Пол :</td>
                            <td id="rightcol" style="background-color: #4fcaef;">
                                <select name="Gender"><option>Муж.</option><option>Жен.</option></select>
                            </td>
                        </tr>
                        <tr>
                            <td id="leftcol" style="background-color: #e5e56f;">Пароль :</td>
                            <td id="rightcol" style="background-color: #69d6f0;">
                                @Html.TextBoxFor(Model => Model.Password,
                                new { placeholder = "Ваш пароль", type = "password", size = "25", maxlength = "50" })
                                @Html.ValidationMessageFor(Model => Model.Password)
                            </td>
                        </tr>
                        <tr>
                            <td id="leftcol" style="background-color: #e5e56f;">Повторите пароль :</td>
                            <td id="rightcol" style="background-color: #69d6f0;">
                                @Html.TextBoxFor(Model => Model.ConfirmPassword,
                                new { placeholder = "Повтор пароля", type="password", size="25", maxlength="50" })
                                @Html.ValidationMessageFor(Model => Model.ConfirmPassword)
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><input type="submit" value="Зарегестрироваться" /></td>
                        </tr>
                    </table>
                </li>
            </ul>
        </form>
    </div>
}