@using PagedList.Mvc
@using CafeProject.MobileWebApplication.Models
@model NearestModel
<ul id="list" class="list">
    <li>
        <a class="button blue">Показать ближайшие на карте</a>
    </li>
    @foreach (var obj in Model.Objects)
    {
        <li>
            <div class="logo">
                <img src="@Url.Content("~/Content/Images/Avatars/" + obj.Icon)" />
            </div>
            <div class="description">
                <div class="type">@obj.Type</div>
                <div class="caption">@obj.Caption</div>
            </div>
            <div class="clear"></div>
            <div class="info">
                <!-- Description -->
            </div>
            <div class="buttons">
                <div class="left">
                    <a href="@Url.Content("~/Home/Details/" + obj.ID)" class="button yellow">Подробнее</a>
                    <a href="@Url.Content("~/Home/OnMap/" + obj.ID)" class="button blue">На карте</a>
                </div>
                <div class="right">
                    <a href="@Url.Content("~/Home/Menu/" + obj.ID)" class="button red">Меню</a>
                    <a href="@Url.Content("~/Home/Comments/" + obj.ID)" class="button green">Отзывы</a>
                </div>
                <div class="clear"></div>
            </div>
        </li>
    }
    <li id="show-more">
        <a href="#">Загрузить еще...</a>
    </li>
</ul>